body{
    margin: auto;
}
.header{
    text-align: center;
}
.header h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5em;
    font-family: "Roboto",sans-serif;
    color: #333;
}
.writer{
    /* margin-top: 2em; */
    width: 90px;
    border-radius: 100%;
}
.header p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    line-height: 1.7;
}
.header p span{
   color: rgba(199, 33, 33, 0.712);
}
.underline{
    height: 2px;
    background-color: #333;
    opacity: 0.1;
    margin-left: 12em;
    margin-right: 12em;
    margin-bottom: 3em;
}
.intro-para{
    margin-left: 20%;
    margin-right: 20%;
    font-size: 24px;
}
.intro-para span{
    font-size: 1.2rem;
    font-family: calibri;
    text-align: center;
}
.map-img{
    text-align: center;
}
.map-img img{
    margin-top: 2em;
    margin-bottom: 5em;
}
.explore{
    text-align: center;
}
.explore h2{
    font-family: Bookman Old Style;
    font-size: 2em;
    color: rgb(117, 32, 32);
}
.explore p{
    text-align: left;
    line-height: 1.6;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 130%;
    font-family: Garnet;
    color: rgba(12, 10, 10, 0.794);
}
.explore a{
    text-decoration: none;
    color: rgb(68, 155, 184);
}
.explore ul li, .explore ol li{
    /* list-style-type: square; */
    text-align: left;
    line-height: 1.7;
    margin-left: 20%;
    margin-right: 20%;
    margin-block-end: 1em;
    font-size: 130%;
    font-family: Garnet;
    color: rgba(12, 10, 10, 0.726);
}
.explore ul li span, .explore ol li span{
    font-weight: 700;
    color: rgba(51, 51, 51, 0.719);
}
.explore img{
    border-radius: 3%;
    display: inline;
    margin: 1em;
}
figcaption{
    /* display: inline; */
    text-align: center;
    font-size: 15px;
    color:  rgba(73, 10, 10, 0.589);
    padding-bottom: 1rem;
}
.endline{
    text-align: center;
    height: 2px;
    /* width: 40%; */
    background-color: rgba(138, 32, 32, 0.712);
    opacity: 0.3;
    margin-left: 30em;
    margin-right: 30em;
    margin-bottom: 5em;
}
.startline{
    height: 2px;
    background-color: #333;
    opacity: 0.1;
    margin-left: 10em;
    margin-right: 10em;
    margin-bottom: 5em;
}
#back2top {
    width: 40px;
    line-height: 40px;
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2top:hover {
    background-color: #DDF;
    color: #000;
}
footer {
    background-color: rgba(128, 128, 128, 0.061);
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.social-media {
    padding: 0.5em;
    text-align: center;
}

.social-media img {
    width: 60px;
    padding: 0.3em;
}

#mail {
    width: 70px;
    padding-top: 0.5rem;
}

#utb {
    width: 55px;
}

.navigation {
    padding-top: 3.5em;
    padding-bottom: 3em;
    padding-right: 2em;
    padding-left: 11em;
    text-align: right;
}

.navigation ul li {
    list-style-type: none;
    display: inline;
    font-family: arial;
    font-weight: bold;
    padding: 1rem;
}

.navigation a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3em;
    color: gray;
}

.navigation a:hover{
    text-decoration: underline;
    color: #333;
}

.creator {
    color: #333;
    padding-top: 1rem;
    padding-bottom: none;
    text-align: center;
    /* font-family: Aristocrat; */
}

.creator a {
    color: rgba(80, 20, 20, 0.76);
    font-family: Aristocrat;
    text-decoration: none;
}

.border-line{
    height: 1px;
    background-color: white;
    margin-bottom: 1.5em;
}
.border-last-line{
    height: 1px;
    background-color: white;
    margin-top: 1.5em;
}